<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Hardware Management</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <img src="https://i.ibb.co/W0gCbHb/Hardwaremanagementapp-Logoby-Designer.png" alt="Logo" class="logo">
        <h2>LOG IN</h2>
        <form id="loginForm">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <a href="signup.html" class="signup-link">No account? Sign up</a> <!-- Link to signup.html page -->
    </div>

    <script src="login.js"></script>
</body>
</html>

