{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Page</title>
    <link rel="stylesheet" href="{% static 'inventory.css' %}">
</head>
<body>
    <div class="container">
        <div class="heading">INVENTORY</div>
        <div class="menu-row">
            <div class="command">Category</div>
            <div class="command">Sub-Category</div>
            <div class="command">Item</div>
            <div class="command">Count</div>
        </div>

        {% for item in items %}
        <div class="row added-item-row ">
            <div class="command">{{ item.subcategory.category }}</div>
            <div class="command">{{ item.subcategory }}</div>
            <div class="command">{{ item.name }}</div>
            <div class="command">{{ item.count }}</div>
        </div>
        {% endfor %}
        <button class="add-row-btn" onclick="showPopupForm()">Add Item</button>
    </div>

    <form id="inventoryForm" action="/save_inventory/" method="post">
        {% csrf_token %}
        <div class="popup-form" id="popupForm">
            <h2>Add Item</h2>
            <input type="text" id="categoryInput" name="categoryInput" placeholder="Category">
            <input type="text" id="subCategoryInput" name="subCategoryInput" placeholder="Sub-Category">
            <input type="text" id="nameInput" name="nameInput" placeholder="Item">
            <input type="number" id="countInput" name="countInput" placeholder="Count">
            <button type="submit">Save</button>
        </div>
    </form>


    <script src="{% static 'inventory.js' %}"></script>
</body>
</html>
